In [1]:
import pandas as pd

In [2]:
ad_df = pd.read_csv(r'D:\datadays2020_contest_public_dataset\ad.csv')
ad_df.head()

   adId  campaignId  advertiserId
0  7867        5918          8414
1  7866        5918          8414
2  7865        5918          8414
3  7863        8343          8414
4  7862        8343          8414

In [4]:
ad_title_df = pd.read_csv(r'D:\datadays2020_contest_public_dataset\new_ad_title.csv')
ad_title_df = ad_title_df.replace(True , 1)
ad_title_df.head()

,adId,word_0,word_1,word_3,word_4,word_5,word_6,word_7,word_8,word_9,...,word_2674,word_2675,word_2676,word_2677,word_2678,word_2679,word_2680,word_2681,word_2682,word_2683
0,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
ad_image_df = pd.read_csv(r'D:\datadays2020_contest_public_dataset\new_ad_image.csv')
ad_image_df.head()

,adId,imageFeature1,imageFeature2,imageFeature3,imageFeature4,imageFeature5,imageFeature6,imageFeature7,imageFeature8,imageFeature9,...,imageFeature503,imageFeature504,imageFeature505,imageFeature506,imageFeature507,imageFeature508,imageFeature509,imageFeature510,imageFeature511,imageFeature512
0,7867,0.052459,0.000000,0.042624,0.333583,0.383563,0.001634,0.344869,0.525469,0.053760,...,0.233728,0.539480,0.152508,0.344518,0.778731,0.078295,0.160162,0.000000,0.305145,0.018119
1,7866,0.003216,0.144424,0.000149,0.246036,0.133644,0.000000,0.915359,0.494597,0.000000,...,0.024028,0.429552,0.124412,0.884689,0.471237,0.018215,0.321597,0.000000,0.471502,0.000000
2,7865,0.027210,0.000000,0.513353,0.295720,0.378193,0.000000,0.826202,0.000000,0.000000,...,0.121223,0.076248,0.206134,1.364922,0.007159,0.022398,0.492233,0.010553,0.398881,0.298406
3,7863,0.001398,0.000000,0.000000,0.045557,0.264038,0.028482,0.504099,0.000000,0.367462,...,0.012589,0.583795,0.102440,1.093687,0.395305,0.295513,0.070853,0.209269,0.523830,0.000000
4,7862,0.024268,0.026082,0.226017,0.023072,0.490081,0.004264,0.871454,0.002935,0.361995,...,0.054965,1.150031,0.008225,1.421475,0.279329,0.159154,0.108484,0.000000,0.000000,0.016228

In [9]:
from functools import reduce

dfs = [ad_df, ad_title_df, ad_image_df]

df_final = reduce(lambda left,right: pd.merge(left,right,on='adId'), dfs)
df_final = df_final.sort_values('adId')

In [10]:
df_final.to_csv(r'D:\datadays2020_contest_public_dataset\new_ad.csv')