In [1]:
import numpy as nump
import pandas as pd
import re

In [2]:
df1 = pd.read_excel("ConsumerAffairs.xlsx", usecols= ['Text', 'Stars', 'Helpful_Count', 'Date'])
len(df1.Text.unique())

1781

In [3]:
df2 = pd.read_excel("SiteJabber.xlsx", usecols= ['Text', 'Stars', 'Helpful_Count', 'Date'])
len(df2.Text.unique())

810

In [8]:
#Remove tabs and next lines
df1['Date'] = df1['Date'].replace('Original review:', '', regex=True)
df1['Date'] = df1['Date'].replace('Resolution response: ', '', regex=True)
df2['Date'] = df2['Date'].replace(['\n', '\t'], ['', ''], regex=True)
df1.Text = df1.Text.replace(['\n', '\t'], ['', ''], regex=True)
df2.Text = df2.Text.replace(['\n', '\t'], ['', ''], regex=True)
df1['Helpful_Count'] = df1['Helpful_Count'].replace(['\n', '\t'], ['', ''], regex=True)
df2

,Text,Stars,Helpful_Count,Date
0,"Okay, made a uber eats account.... tried to or...",1,2,"February 25th, 2020"
1,Here's what i sent them to a contact email sin...,1,0,"April 6th, 2020"
2,I was going in to work in the rain my normal f...,1,0,"March 16th, 2020"
3,Uber through venmo Sucks!!! Each time I pay Ub...,1,0,"April 30th, 2020"
4,Stone cold fast food is on a parr with eating ...,1,0,"January 26th, 2020"
...,...,...,...,...
805,Get $50 in ride credits from Lyft for those th...,1,8,"November 14th, 2015"
806,Uber Blocked My Account without any concern th...,1,14,"February 2nd, 2015"
807,UBER IS THEE MOST RAGGEDLY OPERATED COMPANY IN...,1,3,"April 24th, 2016"
808,"Danielle Sep 20, 20:47 PDTI want my personal i...",1,3,"December 14th, 2016"
809,"It's been 2 years that we are using uber, but ...",1,2,"April 21st, 2016"

In [9]:
#Extract numbers
df1.Helpful_Count =  df1.Helpful_Count.str.extract('(\d+)').fillna(0)
df2.Helpful_Count =  df2.Helpful_Count.str.extract('(\d+)')
df1

,Text,Stars,Helpful_Count,Date
0,I’m not huge on ride share or using anything t...,1,6,"Nov. 14, 2019"
1,I do not have Uber in the area where I live. B...,1,7,"Nov. 8, 2019"
2,"We used two separate Uber drivers, one on the ...",1,0,"Nov. 8, 2019"
3,I've been using Uber for 10 years..when it beg...,1,3,"Nov. 7, 2019"
4,We have used Uber several times. Some are very...,1,0,"Nov. 2, 2019"
...,...,...,...,...
1778,"After ""days"" of waiting for that online passwo...",1,19,"June 16, 2015"
1779,I have got a Rs 300 free ride valid up to 31st...,1,14,"June 3, 2015"
1780,Even after Delhi case Driver misbehaved. He dr...,1,10,"April 14, 2015"
1781,March 2015 I took a trip to New York. A cowork...,1,22,"April 2, 2015"
1782,I used Uber twice on a recent trip to Houston ...,1,13,"Sept. 19, 2014"

In [10]:
#Change stars to integer
df1.Stars = df1.Stars.astype(int)
df1.sort_values('Date', ascending= False)

,Text,Stars,Helpful_Count,Date
658,"Company responded, states charges won't go thr...",1,2,"Oct. 25, 2018"
85,"My complaint turned out to be incorrect, and I...",1,0,"Nov. 27, 2019"
933,"I went on Google and searched ""Uber Executive ...",1,3,"May 6, 2018"
1514,Uber updated the software and after a re insta...,1,10,"March 14, 2017"
1524,My daughter called us today to inform us Uber ...,1,3,"Feb. 4, 2017"
...,...,...,...,...
350,"The drivers, of course drive extremely fast. T...",1,2,"April 10, 2019"
1699,My Uber driver took me 20 minutes out of the w...,1,13,"April 10, 2016"
16,I have used Uber 4 times and never again. Thre...,1,0,"April 1, 2020"
966,UBER does not properly investigate passenger c...,1,6,"April 1, 2018"
1435,I used Uber once in a while because 1. they ar...,1,0,"April 1, 2017"

In [11]:
#Change date formats
df1.Date = pd.to_datetime(df1.Date)
df2.Date = pd.to_datetime(df2.Date)

In [48]:
frames = [df1, df2]

df = pd.concat(frames)
df = df.sort_values(['Date'], ascending= False).drop_duplicates('Text').reset_index()
del df['index']
df.to_excel("Uber Reviews Dataset.xlsx", index=False)